@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    font-family: 'Josefin Sans', sans-serif;
}

.project::-webkit-scrollbar {
    display: none;
}

.project {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.big-container {
    display: none;
}

